body{
    font-family: Roboto, sans-serif;
}

.navbar{
    background-color: #e15641;e;
}
.nav .nav-link.active{
    background-color: white;
    color: #e15641;
}

.nav .nav-link, 
.navbar-brand,
.navbar-brand:hover{
    color: #fff;
}


.navbar-toggler{
    background-color: #ffeae6;
}

.section-title{
    font-family: Pacifico, cursiva;
}



#sobre-o-restaurante{
    background-color: #ffeae6;
}

.text-colored{
    color: #e15641;
}